.body-container{
    padding:10px;
.left-side-navigation{
    width: 12%;
    border-radius: 5px;
    // border: 1px solid #bcbcbc;
    margin: 0 10px;
    padding: 10px;
    height: calc(100vh - 100px);
    float: left;
    .active{
        background-color: #f9f7f7;
        color:#f58220;
    }
}

.main-container{
    width: 82%;
    border: 1px solid #f9f7f7;
    margin: 0;
    padding: 10px;
    height: calc(100vh - 100px);
    float: right;
    border-radius: 5px;
}
}