<div class="body-container">
    <div class="left-side-navigation">
        <mat-nav-list>
            <mat-list-item  routerLinkActive="active" [routerLink]="['/home/dashboard/welcome']">
                <a  >
                    <span matLine>Welcome</span>
                </a>
            </mat-list-item>
            <mat-list-item  routerLinkActive="active"  [routerLink]="['/home/dashboard/list']">
                <a >
                    <span matLine>Users</span>
                </a>
            </mat-list-item>
        </mat-nav-list>
    </div>
    <div class="main-container">
        <router-outlet></router-outlet>
    </div>
</div>