<mat-card class="signupcontainer">
    <mat-progress-bar mode="query" *ngIf="isLoading"></mat-progress-bar>
    <mat-card-title>Sign up
    </mat-card-title>
    <mat-card-content>
        <form [formGroup]="signUpForm" (ngSubmit)="submit(authObj)">
            <p>
                <mat-form-field>
                    <input type="text" [(ngModel)]="authObj.email" matInput placeholder="* User Name"
                        formControlName="username">
                </mat-form-field>
                <ng-container
                    *ngIf=" signUpForm.controls.username.errors && ( signUpForm.controls.username.dirty ||  signUpForm.controls.username.touched)">
                    <mat-error
                        *ngIf="signUpForm.controls.username.errors && signUpForm.controls.username.errors.required">
                        This field is required
                    </mat-error>
                    <mat-error *ngIf="signUpForm.controls.username.errors && signUpForm.controls.username.errors.email">
                        Please enter valid email
                    </mat-error>
                </ng-container>
            </p>

            <p>
                <mat-form-field>
                    <input type="password" [(ngModel)]="authObj.password" matInput placeholder="* Password"
                        formControlName="password">
                </mat-form-field>
                <ng-container
                    *ngIf=" signUpForm.controls.password.errors && ( signUpForm.controls.password.dirty ||  signUpForm.controls.password.touched)">
                    <mat-error
                        *ngIf="signUpForm.controls.password.errors && signUpForm.controls.password.errors.required">
                        This field is required
                    </mat-error>
                </ng-container>
            </p>

            <div class="button">
                <button mat-button [disabled]="!signUpForm.valid" (click)="submit(authObj)">Submit</button>
            </div>
            <p *ngIf="error" class="error">
                {{ error }}
            </p>
            <p>
                Click <a mat-button routerLink="/auth/signin"> here </a> to Signin in to Lantronix.
            </p>
        </form>
    </mat-card-content>
</mat-card>