<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img width="150" height="60px" alt="Lantronix Logo" src="assets/lantronix.png" />
  <div class="spacer"></div>
 <!-- if User Authenticated --> 
  <div *ngIf="userData != null">
    <span>{{userData.email}}</span>
    
    <button mat-button color="primary" (click)="logout()">Logout</button> 
  </div> 
</div>

<div class="main-body">
  <router-outlet></router-outlet>
</div>