<mat-card class="signincontainer">
    <mat-progress-bar mode="query" *ngIf="isLoading"></mat-progress-bar>
    <mat-card-title>Sign In
    </mat-card-title>
    <mat-card-content>
        <form [formGroup]="signInForm" (ngSubmit)="submit(authObj)">
            <p>
                <mat-form-field>
                    <input type="text"  [(ngModel)]="authObj.email" matInput placeholder="* User Name" formControlName="username">
                </mat-form-field>
                <ng-container *ngIf=" signInForm.controls.username.errors && ( signInForm.controls.username.dirty ||  signInForm.controls.username.touched)">
                    <mat-error *ngIf="signInForm.controls.username.errors && signInForm.controls.username.errors.required">
                        This field is required
                    </mat-error>
                    <mat-error *ngIf="signInForm.controls.username.errors && signInForm.controls.username.errors.email">
                        Please enter valid email
                    </mat-error>
                </ng-container>
               
            </p>

            <p>
                <mat-form-field>
                    <input type="password"  [(ngModel)]="authObj.password" matInput placeholder="* Password" formControlName="password">
                </mat-form-field>
                <ng-container *ngIf=" signInForm.controls.password.errors && ( signInForm.controls.password.dirty ||  signInForm.controls.password.touched)">
                <mat-error *ngIf="signInForm.controls.password.errors && signInForm.controls.password.errors.required">
                    This field is required
                </mat-error>
                </ng-container>
            </p>

            <div class="button">
                <button [disabled]="!signInForm.valid"  mat-button (click)="submit(authObj)">Submit</button>
            </div>
            <p *ngIf="error" class="error">
                {{ error }}
            </p>

            <p>
                Click <a  mat-button  routerLink="/auth/signup">here</a>   to register in to Lantronix.
            </p>

        </form>
    </mat-card-content>
</mat-card>

