
<mat-list>
    <div mat-subheader>Total Users : {{usersList.length}} </div>
    <mat-list-item *ngFor="let user of usersList">
        <mat-icon mat-list-icon>account_circle</mat-icon>
      <div mat-line>{{user.username}}</div>
      <div mat-line> {{user.createdOn | date}} </div>
    </mat-list-item>
  </mat-list>